body {
    background-color: rgb(152, 192, 192);
    h1 {
        text-align: center ;
        font-size: 50px;
        color: darkslategray;
    }
    img {
        display: inline-block;
        text-align: center;
    }
}